<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-button>
        <div class="custom-button">
          <ion-select
            interface="action-sheet"
            aria-label="Unit Type"
            justify="center"
            [value]="selectedUnitType.name"
            (ionChange)="onUnitTypeChanged($event)"
          >
            <ion-select-option
              *ngFor="let unitType of unitTypes"
              [value]="unitType.name"
              >{{unitType.name}}</ion-select-option
            >
          </ion-select>
        </div>
      </ion-button>
    </ion-card-header>

    <ion-card-content>
      <div class="ci-container">
        <div class="ci-detail-container">
          <ion-input
            type="number"
            class="ion-text-start"
            labelPlacement="start"
            placeholder="Enter value"
            [clearInput]="true"
            [clearOnEdit]="true"
            [value]="selectedUnitTop.value"
            (ionChange)="topValueChanged($event)"
            ><div slot="label">
              <div><sub>From</sub></div>
              <div>{{selectedUnitTop.abbr}}</div>
            </div></ion-input
          >

          <ion-select
            aria-label="Unit of Measure"
            justify="end"
            interface="action-sheet"
            placeholder="Select Unit"
            [value]="selectedUnitTop.abbr"
            (ionChange)="onTopUnitChanged($event, selectedUnitTop)"
          >
            <ion-select-option
              *ngFor="let uom of selectedUnitType.uoms"
              [value]="uom.abbr"
              >{{uom.name}}</ion-select-option
            >
          </ion-select>
        </div>
        <div class="ci-detail-container">
          <ion-input
            type="number"
            class="ion-text-start"
            labelPlacement="start"
            placeholder="Enter value"
            [clearInput]="true"
            [clearOnEdit]="true"
            [value]="selectedUnitBottom.value"
            (ionChange)="bottomValueChanged($event)"
            ><div slot="label">
              <div><sub>From</sub></div>
              <div>{{selectedUnitBottom.abbr}}</div>
            </div></ion-input
          >
          <ion-select
            aria-label="Unit of Measure"
            justify="end"
            interface="action-sheet"
            placeholder="Select Unit"
            [value]="selectedUnitBottom.abbr"
            (ionChange)="onBottomUnitChanged($event, selectedUnitBottom)"
          >
            <ion-select-option
              *ngFor="let uom of selectedUnitType.uoms"
              [value]="uom.abbr"
              >{{uom.name}}</ion-select-option
            >
          </ion-select>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
