ion-toolbar {
  height: 4rem;

  ion-title {
    padding-top: 1.2rem;
  }
}

ion-card {
  margin-top: 1rem;
  margin-bottom: 1rem;

  ion-card-header {
    padding-bottom: 0px;

    ion-select {
      font-size: x-large;
      // text-align: center;
      // text-align-last: center;
      // // justify-content: center;
      // align-content: center;
    }

    // ion-select::part(container) {
    //   text-align: center;
    // }

    ion-select::part(container) {
      width: auto;
    }
  }

  .ci-detail-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
  }
}

.custom-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; /* Adjust as needed */
}
