<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="currencies-content">
  <ion-list>
    <ion-reorder-group
      [disabled]="false"
      (ionItemReorder)="handleReorder($any($event))"
    >
      <ion-item class="currency-item" *ngFor="let currency of currencies">
        <ion-img [src]="currency.flag" class="flag-img"></ion-img>
        <span class="currency-code">{{ currency.currency }}</span>
        <ion-icon name="chevron-down-outline"></ion-icon>
        <ion-reorder slot="end"></ion-reorder>
      </ion-item>
    </ion-reorder-group>
  </ion-list>
  <!-- // add "Add currency" button and exchange rate attributions
  //https://www.exchangerate-api.com/docs/free -->
</ion-content>
