ion-toolbar {
  height: 4rem;

  ion-title {
    padding-top: 1rem;
  }
}

ion-list {
  background-color: transparent;
}

ion-reorder-group {
  background-color: transparent;
}

.font-size {
  font-size: 20px;
}

.currencies-content {
  align-self: center;
  width: 95%;

  .currency-item {
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;

    .currency-container {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .currency-info-container {
        display: flex;
        flex-direction: row;
        align-items: center;

        .flag-img {
          max-width: 40px;
          margin-top: 1.8rem;
          margin-bottom: 1.8rem;
          margin-right: 1rem;
        }

        .currency-code {
          margin-right: 5px;
        }
      }

      .currency-input-container {
        align-items: center;

        span {
          margin-right: 0.5rem;
        }

        ion-input {
          min-width: 50px;
          max-width: 80px;
        }
      }
    }
  }
}
